In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir("C:\TradeGroup")
my_wd = os.getcwd()
new_directory = my_wd

def create_folder(folder_path):
    if not os.path.exists(f'{new_directory}/{folder_path}'):
        os.makedirs(f'{new_directory}/{folder_path}')
    else:
        print(f'Already Exists')

create_folder('Data/Indices')

Already Exists

In [11]:
year = 1383
for year in range(1383,1403):
    exports_path = os.path.join(my_wd, f"Data/Country_Data/Y{year}CountryTrade.xlsx")

    print(year)
    Exports = pd.read_excel(exports_path)


    Exp_Share = Exports[['Country','Exp_Share']]
    Exp_Share = Exp_Share.sort_values(by="Exp_Share", ascending=False)
    Exp_Share["Rank"] = Exp_Share.reset_index().index + 1
    Exp_Share["Cumulative_Share"] = Exp_Share["Exp_Share"].cumsum()

    if year == 1383:
        Exp_Share_Series = Exp_Share
    else:
        Exp_Share_Series = Exp_Share_Series.merge(Exp_Share,how='outer',on='Rank',suffixes = ('',f'_{year}'))

1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402

In [13]:
Exp_Share_Series.to_excel(f'{my_wd}\Data\Indices\Cummulative_Shares.xlsx',index=False)

In [8]:
Exp_Share = Exports[['Country','Exp_Share']]
Exp_Share = Exp_Share.sort_values(by="Exp_Share", ascending=False)
Exp_Share["Rank"] = Exp_Share.reset_index().index + 1
Exp_Share["Cumulative_Share"] = Exp_Share["Exp_Share"].cumsum()
Exp_Share

                       Country  Exp_Share  Rank  Cumulative_Share
23           امارات متحده عربي     18.019     1            18.019
136                        هند      6.953     2            24.972
79                        عراق      5.427     3            30.399
150                       ژاپن      5.038     4            35.437
5                        آلمان      4.791     5            40.228
..                         ...        ...   ...               ...
72                    سوازيلند      0.000   161            99.992
76                        سيشل      0.000   162            99.992
93                   كاستاريكا      0.000   163            99.992
118                   مغولستان      0.000   164            99.992
164  منطقه ويژه اقتصادي خرمشهر      0.000   165            99.992

[165 rows x 4 columns]