In [1]:
import pandas as pd
import numpy as np
import os

In [13]:
D1400 = pd.read_excel(f"C:/TradeGroup/Reports/1400_CCI.xlsx")
D1401 = pd.read_excel(f"C:/TradeGroup/Reports/1401_CCI.xlsx")
D1402 = pd.read_excel(f"C:/TradeGroup/Reports/1402_CCI.xlsx")

In [14]:
D1402

            Type    HSCode
0      سرمایه ای   1012100
1       واسطه ای   1022900
2       واسطه ای   1051140
3       واسطه ای   1061390
4       واسطه ای   1069020
...          ...       ...
26661   واسطه ای  98871192
26662   واسطه ای  98871196
26663  سرمایه ای  98871230
26664  سرمایه ای  98871240
26665  سرمایه ای  98871290

[26666 rows x 2 columns]

In [22]:
DTot = pd.concat([D1400,D1401,D1402])

DTot_uniqe = DTot.groupby("HSCode").agg(
   CCI = ('Type','first')
).reset_index()

DTot_uniqe.to_excel(f"C:/TradeGroup/Reports/CCI_Codes_HS8.xlsx",index=False)