In [1]:
import pandas as pd
import numpy as np
import openpyxl
import os
import pathlib

In [2]:
new_directory = "C:\TradeGroup"
os.chdir(new_directory)
my_wd = new_directory

In [3]:
def create_folder(folder_path):
    if not os.path.exists(f'{new_directory}/{folder_path}'):
        os.makedirs(f'{new_directory}/{folder_path}')
    else:
        print(f'Already Exists')

In [4]:
file_path = f"{new_directory}/Trade_MetaData.xlsx"
# Read the Excel file into a pandas DataFrame
ColNames = pd.read_excel(file_path, sheet_name="ColNames")
create_folder('Data/Cleaned_Data')

Already Exists

In [5]:
ColNames

,Year,IX,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10
0,1403,Imp,Tcode,Country,Custom,Tdesc,Weight,Rials,Dollars,Month,Year,NaN
1,1403,Exp,Tcode,Country,Custom,Tdesc,Weight,Rials,Dollars,Month,Year,NaN
2,1402,Imp,Year,Custom,Country,Tcode,Tdesc,Weight,Rials,Dollars,NaN,NaN
3,1402,Exp,Year,Custom,Country,Tcode,Tdesc,Weight,Rials,Dollars,NaN,NaN
4,1401,Imp,Year,Month,Custom,Country,Tcode,Tdesc,Weight,Rials,Dollars,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
61,1373,Exp,NaN,NaN,Custom,Country,Tcode,Tdesc,Weight,Rials,Dollars,NaN
62,1372,Imp,NaN,NaN,Custom,Country,Tcode,Tdesc,Weight,Rials,Dollars,NaN
63,1372,Exp,NaN,NaN,Custom,Country,Tcode,Tdesc,Weight,Rials,Dollars,NaN
64,1371,Imp,NaN,NaN,Custom,Country,Tcode,Tdesc,Weight,Rials,Dollars,NaN
65,1371,Exp,NaN,NaN,Custom,Country,Tcode,Tdesc,Weight,Rials,Dollars,NaN

In [6]:
for year in range(1401,1402):
    ImpCols = ColNames[(ColNames['Year']==year) & (ColNames['IX']=='Imp')]
    ImpCols = ImpCols.dropna(axis=1)
    ExpCols = ColNames[(ColNames['Year']==year) & (ColNames['IX']=='Exp')]
    ExpCols = ExpCols.dropna(axis=1)

    if ((year >= 1397 and year<1402) or year == 1391 or year == 1390 or year < 1389) and year !=1387:
       Imports = pd.read_excel(f"{new_directory}/Data/RawData/Imp{year}.xlsx", skiprows=1)
       Exports = pd.read_excel(f"{new_directory}/Data/RawData/Exp{year}.xlsx", skiprows=1)
    elif year == 1396:
       Imports1 = pd.read_excel(f"{my_wd}/Data/RawData/Imp{year}.xlsx", skiprows=1, sheet_name="imp")
       Imports2 = pd.read_excel(f"{my_wd}/Data/RawData/Imp{year}.xlsx", skiprows=1, sheet_name="imp1")
       Imports = pd.concat([Imports1, Imports2], ignore_index=True)
       Exports = pd.read_excel(f"{my_wd}/Data/RawData/Exp{year}.xlsx", skiprows=1)
    elif year in [1395, 1393, 1392]:
       Imports1 = pd.read_excel(f"{my_wd}/Data/RawData/Imp{year}.xlsx", skiprows=1, sheet_name="customs-country-tariff-i")
       Imports2 = pd.read_excel(f"{my_wd}/Data/RawData/Imp{year}.xlsx", skiprows=1, sheet_name="customs-country-tariff-i_4")
       Imports = pd.concat([Imports1, Imports2], ignore_index=True)
       Exports = pd.read_excel(f"{my_wd}/Data/RawData/Exp{year}.xlsx", skiprows=1)
    elif year == 1394:
       Imports1 = pd.read_excel(f"{my_wd}/Data/RawData/Imp{year}.xlsx", skiprows=1, sheet_name="1")
       Imports2 = pd.read_excel(f"{my_wd}/Data/RawData/Imp{year}.xlsx", skiprows=1, sheet_name="2")
       Imports = pd.concat([Imports1, Imports2], ignore_index=True)
       Exports = pd.read_excel(f"{my_wd}/Data/RawData/Exp{year}.xlsx",skiprows=1) 
    elif year == 1389:
       Imports1 = pd.read_excel(f"{my_wd}/Data/RawData/Imp{year}.xlsx", skiprows=1, sheet_name="import1")
       Imports2 = pd.read_excel(f"{my_wd}/Data/RawData/Imp{year}.xlsx", skiprows=1, sheet_name="import2")
       Imports = pd.concat([Imports1, Imports2], ignore_index=True)
       Exports = pd.read_excel(f"{my_wd}/Data/RawData/Exp{year}.xlsx", skiprows=1)
    #Untill the true data is published
    elif year==1402:
       Imports = pd.read_excel(f"{new_directory}/Data/RawData/Imp{year}_New.xlsx",sheet_name="1")
       Exports = pd.read_excel(f"{new_directory}/Data/RawData/Exp{year}_New.xlsx",sheet_name="1")
    #First mounth of 1403
    elif year==1403:
       Imports = pd.read_excel(f"{new_directory}/Data/RawData/Imp{year}first4_synthetic.xlsx", skiprows=1,sheet_name=0)
       Exports = pd.read_excel(f"{new_directory}/Data/RawData/Exp{year}first4_synthetic.xlsx", skiprows=1,sheet_name=0)
    elif year ==1387:
         Imports = pd.read_excel(f"{new_directory}/Data/RawData/Imp{year}.xlsx", skiprows=1,sheet_name="87")
         Exports = pd.read_excel(f"{new_directory}/Data/RawData/Exp{year}.xlsx", skiprows=1)
         

       
    Imports.columns = ImpCols.iloc[0, 2:].tolist()
    Exports.columns = ExpCols.iloc[0, 2:].tolist()
    

    Imports= Imports.dropna(subset=['Tcode'])
    Exports= Exports.dropna(subset=['Tcode'])


    Exports.to_excel(f"{my_wd}/Data/Cleaned_Data/Y{year}Exports.xlsx", index=False)
    Imports.to_excel(f"{my_wd}/Data/Cleaned_Data/Y{year}Imports.xlsx", index=False)

In [17]:
Imports

,Year,Custom,Country,Tcode,Tdesc,Weight,Rials,Dollars
0,1402,منطقه ويژه اقتصادي پيام,امارات متحده عربي,7132030,نخود معمولی غلافدار خشک، غلاف کنده، حتی پوست ک...,220740,84434932020,296263
1,1402,منطقه ويژه اقتصادي پيام,امارات متحده عربي,7133310,لوبیا چیتی,456000,159940423958,561194
2,1402,منطقه ويژه اقتصادي پيام,امارات متحده عربي,9011190,قهوه، بونداده كافئین نگرفته غیر مذكور,38400,26819942400,94105
3,1402,منطقه ويژه اقتصادي پيام,امارات متحده عربي,12060090,دانه آفتابگردان حتی خرد شده غیر مذکور,482000,172356216642,604759
4,1402,منطقه ويژه اقتصادي پيام,امارات متحده عربي,18050090,پودر كاكائو بدون افزودن قند، شكر یا سایر مواد ...,103000,81769188600,286909
...,...,...,...,...,...,...,...,...
62994,1402,منطقه ويژه اقتصادي سلفچگان,تايوان,35069190,چسب گرما ذوب بر اساس پلیمرهای مشمول شماره 3901...,159088,104093215270,365239
62995,1402,منطقه ويژه اقتصادي سلفچگان,تايوان,39100090,سایر,76,188564312,662
62996,1402,منطقه ويژه اقتصادي سلفچگان,تايوان,39239090,سایر غیر از ردیف های مشمول ردیف های 39231000 ل...,1297,1074110230,3769
62997,1402,منطقه ويژه اقتصادي سلفچگان,تايوان,40169300,درز بند، واشر و سایر درزگیرها از کائوچوی ولکان...,667,4931413353,17303
62998,1402,منطقه ويژه اقتصادي سلفچگان,تايوان,48192090,سایر کارتن قوطی وجعبه، تاشو از کاغذ یا مقوای غ...,238,155089540,544