In [45]:
import numpy as np
import pandas as pd
import os
os.chdir('c:/TradeGroup')
my_wd = os.getcwd()
new_directory = my_wd
new_directory

'c:\\TradeGroup'

In [46]:
year=1401 
Harvard=pd.read_excel(f'{my_wd}/HSs_Harvard.xlsx')   
exports_path = os.path.join(my_wd, f"Data/Cleaned_Data/Y{year}Exports.xlsx")
imports_path = os.path.join(my_wd, f"Data/Cleaned_Data/Y{year}Imports.xlsx")

print(year)

Exports = pd.read_excel(exports_path)
Imports = pd.read_excel(imports_path)


Imports['HS4']=Imports['Tcode']//10000
Exports['HS4']=Exports['Tcode']//10000

1401

In [47]:
#12 month

Imports_Harvard = Imports.merge(Harvard,how='outer',on=['HS4'])
#Harvard
#Imports
Imports_Harvard_Agg_1401_12 = Imports_Harvard.groupby('HS4').agg(
    Dollars=('Dollars','sum'),
    HS2=('HS2','first'),
    First_F=('First_F','first'),
    First_E= ('First_E','first'),
    Second_F= ('Second_F','first'),
    Second_E= ('Second_E','first')

).reset_index()


Exports_Harvard = Exports.merge(Harvard,how='outer',on=['HS4'])
#Harvard
#Imports
Exports_Harvard_Agg_1401_12 = Exports_Harvard.groupby('HS4').agg(
    Dollars=('Dollars','sum'),
    HS2=('HS2','first'),
    First_F=('First_F','first'),
    First_E= ('First_E','first'),
    Second_F= ('Second_F','first'),
    Second_E= ('Second_E','first')

).reset_index()

In [48]:
#12 month
Imports=Imports[Imports['Month']<12]
Imports_Harvard = Imports.merge(Harvard,how='outer',on=['HS4'])
#Harvard
#Imports
Imports_Harvard_Agg_1401_11 = Imports_Harvard.groupby('HS4').agg(
    Dollars=('Dollars','sum'),
    HS2=('HS2','first'),
    First_F=('First_F','first'),
    First_E= ('First_E','first'),
    Second_F= ('Second_F','first'),
    Second_E= ('Second_E','first')

).reset_index()

Exports=Exports[Exports['Month']<12]
Exports_Harvard = Exports.merge(Harvard,how='outer',on=['HS4'])
#Harvard
#Imports
Exports_Harvard_Agg_1401_11 = Exports_Harvard.groupby('HS4').agg(
    Dollars=('Dollars','sum'),
    HS2=('HS2','first'),
    First_F=('First_F','first'),
    First_E= ('First_E','first'),
    Second_F= ('Second_F','first'),
    Second_E= ('Second_E','first')

).reset_index()

In [49]:
year=1402
Harvard=pd.read_excel(f'{my_wd}/HSs_Harvard.xlsx')   
exports_path = os.path.join(my_wd, f"Data/Cleaned_Data/Y{year}Exports.xlsx")
imports_path = os.path.join(my_wd, f"Data/Cleaned_Data/Y{year}Imports.xlsx")

print(year)

Exports = pd.read_excel(exports_path)
Imports = pd.read_excel(imports_path)


Imports['HS4']=Imports['Tcode']//10000
Exports['HS4']=Exports['Tcode']//10000

1402

In [50]:
Imports_Harvard = Imports.merge(Harvard,how='outer',on=['HS4'])
#Harvard
#Imports
Imports_Harvard_Agg_1402_11 = Imports_Harvard.groupby('HS4').agg(
    Dollars=('Dollars','sum'),
    HS2=('HS2','first'),
    First_F=('First_F','first'),
    First_E= ('First_E','first'),
    Second_F= ('Second_F','first'),
    Second_E= ('Second_E','first')

).reset_index()


Exports_Harvard = Exports.merge(Harvard,how='outer',on=['HS4'])
#Harvard
#Imports
Exports_Harvard_Agg_1402_11 = Exports_Harvard.groupby('HS4').agg(
    Dollars=('Dollars','sum'),
    HS2=('HS2','first'),
    First_F=('First_F','first'),
    First_E= ('First_E','first'),
    Second_F= ('Second_F','first'),
    Second_E= ('Second_E','first')

).reset_index()

In [51]:
Imports_Harvard = Imports.merge(Harvard,how='outer',on=['HS4'])
#Harvard
#Imports
Imports_Harvard_Agg_1402_12 = Imports_Harvard.groupby('HS4').agg(
    Dollars=('Dollars','sum'),
    HS2=('HS2','first'),
    First_F=('First_F','first'),
    First_E= ('First_E','first'),
    Second_F= ('Second_F','first'),
    Second_E= ('Second_E','first')

).reset_index()


Exports_Harvard = Exports.merge(Harvard,how='outer',on=['HS4'])
#Harvard
#Imports
Exports_Harvard_Agg_1402_12 = Exports_Harvard.groupby('HS4').agg(
    Dollars=('Dollars','sum'),
    HS2=('HS2','first'),
    First_F=('First_F','first'),
    First_E= ('First_E','first'),
    Second_F= ('Second_F','first'),
    Second_E= ('Second_E','first')

).reset_index()

Imports_Harvard_Agg_1402_12['Dollars'] = Imports_Harvard_Agg_1402_12['Dollars']*12/11
Exports_Harvard_Agg_1402_12['Dollars'] = Exports_Harvard_Agg_1402_12['Dollars']*12/11

In [52]:
Imports_Harvard_Agg_1401_11.to_excel(f'{new_directory}/Reports/Imports_Harvard_Agg_1401_11.xlsx', index=False)
Imports_Harvard_Agg_1401_12.to_excel(f'{new_directory}/Reports/Imports_Harvard_Agg_1401_12.xlsx', index=False)

Imports_Harvard_Agg_1402_11.to_excel(f'{new_directory}/Reports/Imports_Harvard_Agg_1402_11.xlsx', index=False)
Imports_Harvard_Agg_1402_12.to_excel(f'{new_directory}/Reports/Imports_Harvard_Agg_1402_12.xlsx', index=False)

In [53]:
Exports_Harvard_Agg_1401_11.to_excel(f'{new_directory}/Reports/Exports_Harvard_Agg_1401_11.xlsx', index=False)
Exports_Harvard_Agg_1401_12.to_excel(f'{new_directory}/Reports/Exports_Harvard_Agg_1401_12.xlsx', index=False)

Exports_Harvard_Agg_1402_11.to_excel(f'{new_directory}/Reports/Exports_Harvard_Agg_1402_11.xlsx', index=False)
Exports_Harvard_Agg_1402_12.to_excel(f'{new_directory}/Reports/Exports_Harvard_Agg_1402_12.xlsx', index=False)