In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir("C:\TradeGroup")
my_wd = os.getcwd()
new_directory = my_wd

In [3]:
Continents = ['Americas','Africa','Europe','Asia','Oceania']

for continent in Continents:
    Imported_Data = pd.read_excel(f'{my_wd}/Data/{continent}_HS4.xlsx')
    Imported_Data=Imported_Data.dropna(axis=0).drop_duplicates()
    if continent == "Americas":
        Imported_Data_World = Imported_Data
    else:
        Imported_Data_World = pd.concat([Imported_Data_World,Imported_Data])    

     
Imported_Data_World = Imported_Data_World.drop_duplicates()

In [4]:
Imported_Data_World.to_excel(f'{my_wd}/Data/HS4sunique.xlsx',index=False)

In [5]:
HSs_Farsi = pd.read_excel(f'{my_wd}/Data/HS4_Farsi.xlsx')

HSs_Farsi['HS4'] = pd.to_numeric(HSs_Farsi['HS4'], errors='coerce')
HSs_Farsi = HSs_Farsi.dropna(axis=0)
HSs_Farsi

                                 HS4_F   HS4
0                               اسب ها   101
1                                  گاو   102
2                                 گراز   103
3                               گوسفند   104
4                                  مرغ   105
...                                ...   ...
1211                          مجسمه ها  9703
1212               تمبر پستی یا درآمدی  9704
1213                    قطعات کلکسیونر  9705
1214              عتیقه بیش از 100 سال  9706
1215  کالاها بر اساس نوع مشخص نشده اند  9999

[1216 rows x 2 columns]

In [6]:
Imported_Data_World_Merged = Imported_Data_World.merge(HSs_Farsi,on="HS4", how="outer")
Imported_Data_World_Merged.to_excel(f"C:/TradeGroup/Data/Dashboard/4HSs_Complete.xlsx", index=False)