In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
# Set the working directory
os.chdir("C:\TradeGroup")
my_wd = os.getcwd()
new_directory = my_wd

def create_folder(folder_path):
    if not os.path.exists(f'{new_directory}/{folder_path}'):
        os.makedirs(f'{new_directory}/{folder_path}')
    else:
        print(f'Already Exists')

#create_folder('Data/Indices')

In [27]:
create_folder('Data/Indices/Variety_Consetration')
baseyear=1380
for year in range(1380,1403):

        try:
                del Exports
        except NameError:
                pass

        try:
                del Imports
        except NameError:
                pass

        # Load data
        exports_path = os.path.join(my_wd, f"Data/Cleaned_Data/Y{year}Exports.xlsx")
        imports_path = os.path.join(my_wd, f"Data/Cleaned_Data/Y{year}Imports.xlsx")


        Exports = pd.read_excel(exports_path)
        # Imports = pd.read_excel(imports_path)

        # Imports.dropna(subset=['Tcode'],inplace=True)
        Exports.dropna(subset=['Tcode'],inplace=True)

        
        # Imports['Dollars']=Imports['Dollars'].astype(float)
        # Imports['Weight']=Imports['Weight'].astype(float)

        Exports['Dollars']=Exports['Dollars'].astype(float)
        Exports['Weight']=Exports['Weight'].astype(float) 

        Exports['HS6']=Exports['Tcode']//100
        #Exports['HS6']=Exports['HS6'].astype('str')
        Sum_Exports=Exports['Dollars'].sum()

        Exports_by_HS6=Exports.groupby('HS6').agg(
        Dollars_Tot=('Dollars','sum')
        ).reset_index()

        Exports_by_HS6[f'HS_Counts_{year}']=Exports_by_HS6['HS6'].nunique()

        Exports_by_HS6[f'Share_{year}']=Exports_by_HS6['Dollars_Tot']/Sum_Exports

        Exports_by_HS6[f'Share_Squared_{year}']=Exports_by_HS6[f'Share_{year}']**2

        Var_Cons=pd.DataFrame(data={'Year':[year],'Variety': Exports_by_HS6[f'HS_Counts_{year}'].unique(),'Consentration':[Exports_by_HS6[f'Share_Squared_{year}'].sum()]})
        if year==baseyear:
                Var_Cons_Series=Var_Cons
        else:
                Var_Cons_Series = pd.concat([Var_Cons_Series,Var_Cons])        





print(year)

Already Exists

1402

In [28]:
Var_Cons_Series

   Year  Variety  Consentration
0  1380      886       0.040907
0  1381      897       0.034201
0  1382      937       0.030717
0  1383     2601       0.021916
0  1384     2765       0.018626
0  1385     2913       0.019642
0  1386     2717       0.021408
0  1387     2642       0.019300
0  1388     2656       0.016502
0  1389     2612       0.018634
0  1390     2563       0.020919
0  1391     2699       0.015478
0  1392     2733       0.017509
0  1393     2838       0.019481
0  1394     2738       0.018338
0  1395     2891       0.041868
0  1396     2976       0.035913
0  1397     3191       0.026477
0  1398     2972       0.017554
0  1399     2908       0.022120
0  1400     2887       0.029437
0  1401     3030       0.038590
0  1402     2881       0.024868

In [15]:
Exports_by_HS6=Exports.groupby('HS6').agg(
    Dollars_Tot=('Dollars','sum')
 ).reset_index()
Exports_by_HS6['HS_Counts']=Exports_by_HS6['HS6'].nunique()
Exports_by_HS6[f'Share_{year}']=Exports_by_HS6['Dollars_Tot']/Sum_Exports
Exports_by_HS6[f'Share_Squared_{year}']=Exports_by_HS6[f'Share_{year}']**2
Exports_by_HS6

           HS6  Dollars_Tot  HS_Counts    Share_1401  Share_Squared_1401
0      10221.0    1408711.0       3030  2.609999e-05        6.812096e-10
1      10229.0    1440147.0       3030  2.668242e-05        7.119518e-10
2      10410.0   37769661.0       3030  6.997800e-04        4.896921e-07
3      10511.0    1974263.0       3030  3.657830e-05        1.337972e-09
4      10512.0      28600.0       3030  5.298885e-07        2.807818e-13
...        ...          ...        ...           ...                 ...
3025  970390.0      34344.0       3030  6.363109e-07        4.048915e-13
3026  988433.0       7613.0       3030  1.410504e-07        1.989521e-14
3027  988701.0     149291.0       3030  2.765999e-06        7.650753e-12
3028  988703.0    3333908.0       3030  6.176921e-05        3.815436e-09
3029  988711.0      19392.0       3030  3.592866e-07        1.290869e-13

[3030 rows x 5 columns]

In [25]:
Var_Cons=pd.DataFrame(data={'Year':[year],'Variety': Exports_by_HS6['HS_Counts'].unique(),'Consentration':[Exports_by_HS6[f'Share_Squared_{year}'].sum()]})
Var_Cons

   Year  Variety  Consentration
0  1401     3030        0.03859

In [23]:
Exports['HS_Counts'].unique

KeyError: 'HS_Counts'