In [ ]:
import pandas as pd
import numpy as np


Iran_to_Indonasia=pd.read_excel(f"C:/TradeGroup/Reports/Iran-Indonasia-Be.xlsx")
Iran_to_Indonasia['شماره تعرفه'].fillna(0,inplace=True)
Iran_to_Indonasia['HS8']=Iran_to_Indonasia['شماره تعرفه'].astype(int)
Iran_Exports_Codes = pd.unique(Iran_to_Indonasia['HS8'])
Iran_Exports_Codes

My_Excel_File=pd.ExcelFile(f"C:/TradeGroup/Reports/Iran-Indonasia-Alef.xlsx")
dfs = []
for sheet_name in My_Excel_File.sheet_names:
    df= My_Excel_File.parse(sheet_name)
    dfs.append(df)

The_Commodities = pd.concat(dfs,ignore_index=True)
The_Commodities.rename(columns={'شماره تعرفه':"HS8"},inplace=True)
The_Commodities['HS8']=pd.to_numeric(The_Commodities['HS8'])
Iran_Imports_Codes = pd.unique(The_Commodities['HS8'])
Iran_Imports_Codes

array([ 3011100.,  3011900.,  3019920.,  3034900.,  3035900.,  3063520.,
        3063620.,  7131090.,  7133190.,  8011100.,  8011200.,  8031000.,
        8043000.,  9011190.,  9022010.,  9022090.,  9024090., 10051000.,
       11043010., 11063000., 12030000., 12093000., 12129990., 13019040.,
       13019090., 13023100., 14049020., 14049030., 15111000., 15119010.,
       15119020., 15131100., 15131990., 15132913., 15132919., 15159090.,
       15162010., 15180000., 15200000., 17029090., 17031000., 18040000.,
       18050090., 18061000., 19019090., 20094910., 21011200., 21061090.,
       21069030., 21069080., 21069090., 22029910., 23099040., 24039100.,
       25070010., 25309010., 25309090., 26020000., 26060000., 26151090.,
       27012000., 27101940., 28042990., 28112200., 28182000., 28201000.,
       29054410., 29095000., 29151100., 29161100., 29161200., 29161500.,
       29224100., 30024100., 30042012., 30043212., 30046000., 30049014.,
       30049092., 30066000., 30069310., 30069390., 33012990., 33019090.,
       33021090., 33029010., 34012030., 35040000., 35079000., 38061000.,
       38063000., 38069000., 38123930., 38231100., 38231200., 38231900.,
       38237020., 38237090., 38246000., 39076910., 40011000., 40012200.,
       40012900., 40027000., 40112010., 44034100., 44092200., 44092900.,
       44130000., 44170000., 44191190., 44199090., 44201110., 44201190.,
       47032900., 48025500., 48025700., 48025800., 48026100., 48026900.,
       48041100., 48041900., 48042100., 48042900., 48043110., 48045900.,
       48053000., 48062000., 48063000., 48064000., 48099090., 48101300.,
       48101400., 48101900., 48102900., 48172000., 48189010., 52030000.,
       54022000., 54023300., 54024600., 54024700., 54026200., 56012200.,
       58109200., 59032000., 61034900., 61043900., 61059000., 61069000.,
       61159900., 63079090., 64041900., 72021100., 72023000., 72026000.,
       72029300., 72091810., 72105000., 72193200., 72193300., 72193400.,
       72193500., 72199000., 72251100., 72251900., 72283090., 73121010.,
       80011000., 82071900., 84073290., 84099110., 84119990., 84122100.,
       84143019., 84189990., 84193900., 84195090., 84196000., 84212990.,
       84213990., 84223000.,       nan, 84224000., 84229010., 84229090.,
       84248910., 84261200., 84342000., 84381000., 84518000., 84571000.,
       84713020., 84718010., 84732900., 84749010., 84771000., 84804100.,
       84804900., 84806000., 84807100., 84807900., 84813000., 84818065.,
       84818090., 84819090., 84821000., 84828000., 84831030., 84835000.,
       84836000., 85021390., 85044090., 85051100., 85061010., 85068010.,
       85122030., 85249100., 85353090., 85389010., 85414100., 85415100.,
       85416000., 85423100., 87087031., 87088019., 87088041., 87088049.,
       87141025., 90183910., 90189080., 90191010., 90289010., 92099100.,
       92099200., 94039100., 95030090., 96072000., 96081020., 96089100.])

In [ ]:
baseyear= 1395
for year in range(1395,1403):


   Exports = pd.read_excel(f'C:/TradeGroup/Data/Cleaned_Data/Y{year}Exports.xlsx')
   Exports_Indonasia = Exports[Exports['Country']=="اندونزي"]


   Imports = pd.read_excel(f'C:/TradeGroup/Data/Cleaned_Data/Y{year}Imports.xlsx')
   Imports_Indonasia = Imports[Imports['Country']=="اندونزي"]

   #Exports['Country'].unique()
   #Exports_Indonasia



   Exports_Indonasia['Tarjihi']=np.where(np.isin(Exports_Indonasia['Tcode'], Iran_Exports_Codes),1,0 )
   Exports_Indonasia_Tarjihi=Exports_Indonasia[Exports_Indonasia['Tarjihi']==1]
   #Exports_Indonasia_Tarjihi


   Imports_Indonasia['Tarjihi']=np.where(np.isin(Imports_Indonasia['Tcode'], Iran_Imports_Codes),1,0 )
   Imports_Indonasia_Tarjihi=Imports_Indonasia[Imports_Indonasia['Tarjihi']==1]
   #Imports_Indonasia_Tarjihi




   Exports_Idn=Exports_Indonasia.groupby('Tcode').agg(
               Tarjihi= ('Tarjihi','first'),
               Tdesc = ('Tdesc','first'),
               Dollars_Tot=('Dollars','sum')
               
               
            #   Tcode= ('Tcode','first')
         ).reset_index()

   Exports_Idn['Total_Idn_year']=Exports_Idn['Dollars_Tot'].sum()
   Exports_Idn['Total_Idn_Tarjihi_year']=Exports_Idn[Exports_Idn['Tarjihi']==1]['Dollars_Tot'].sum()




   Imports_Idn=Imports_Indonasia.groupby('Tcode').agg(
               Tarjihi= ('Tarjihi','first'),
               Tdesc = ('Tdesc','first'),
               Dollars_Tot=('Dollars','sum')
               
               
            #   Tcode= ('Tcode','first')
         ).reset_index()
   Imports_Idn['Total_Idn_year']=Imports_Idn['Dollars_Tot'].sum()
   Imports_Idn['Total_Idn_Tarjihi_year']=Imports_Idn[Imports_Idn['Tarjihi']==1]['Dollars_Tot'].sum()


   Exports_Idn = Exports_Idn.rename(columns={c: c+f'_{year}' for c in Exports_Idn.columns if c not in ['Tcode', 'Tdesc','Tarjihi']})
   Imports_Idn = Imports_Idn.rename(columns={c: c+f'_{year}' for c in Imports_Idn.columns if c not in ['Tcode', 'Tdesc','Tarjihi']})


   if year==baseyear:
      Exports_Idn_Series = Exports_Idn
      Imports_Idn_Series = Imports_Idn
   else:
      Exports_Idn_Series = Exports_Idn_Series.merge(Exports_Idn,on=['Tcode','Tdesc','Tarjihi'],how='outer')
      Imports_Idn_Series = Imports_Idn_Series.merge(Imports_Idn,on=['Tcode','Tdesc','Tarjihi'],how='outer')

C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_9856\1689151353.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Exports_Indonasia['Tarjihi']=np.where(np.isin(Exports_Indonasia['Tcode'], Iran_Exports_Codes),1,0 )
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_9856\1689151353.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Imports_Indonasia['Tarjihi']=np.where(np.isin(Imports_Indonasia['Tcode'], Iran_Imports_Codes),1,0 )
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_9856\1689151353.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Exports_Indonasia['Tarjihi']=np.where(np.isin(Exports_Indonasia['Tcode'], Iran_Exports_Codes),1,0 )
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_9856\1689151353.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Imports_Indonasia['Tarjihi']=np.where(np.isin(Imports_Indonasia['Tcode'], Iran_Imports_Codes),1,0 )
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_9856\1689151353.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Exports_Indonasia['Tarjihi']=np.where(np.isin(Exports_Indonasia['Tcode'], Iran_Exports_Codes),1,0 )
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_9856\1689151353.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Imports_Indonasia['Tarjihi']=np.where(np.isin(Imports_Indonasia['Tcode'], Iran_Imports_Codes),1,0 )
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_9856\1689151353.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Exports_Indonasia['Tarjihi']=np.where(np.isin(Exports_Indonasia['Tcode'], Iran_Exports_Codes),1,0 )
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_9856\1689151353.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Imports_Indonasia['Tarjihi']=np.where(np.isin(Imports_Indonasia['Tcode'], Iran_Imports_Codes),1,0 )
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_9856\1689151353.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Exports_Indonasia['Tarjihi']=np.where(np.isin(Exports_Indonasia['Tcode'], Iran_Exports_Codes),1,0 )
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_9856\1689151353.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Imports_Indonasia['Tarjihi']=np.where(np.isin(Imports_Indonasia['Tcode'], Iran_Imports_Codes),1,0 )

In [30]:
Iran_Exports_Codes.dtype()

dtype('int32')

In [28]:
#Exports_Idn['Total_Idn_year']=Exports_Idn['Dollars_Tot'].sum      
#Exports_Idn['Total_Idn_Tarjihi_year']=Exports_Idn[Exports_Idn['tarjihi']==1]['Dollars_Tot'].sum
Exports_Idn_Series.fillna(0,inplace=True)
Imports_Idn_Series.fillna(0,inplace=True)

Exports_Idn_Series.to_excel(f"C:/TradeGroup/Reports/Iran-Indonasia-Exports_Tarjihi_{year}_Series.xlsx")
Imports_Idn_Series.to_excel(f"C:/TradeGroup/Reports/Iran-Indonasia-Imports_Tarjihi_{year}_Series.xlsx")

In [23]:
Exports_Indonasia['Tarjihi']=np.where(np.isin(Exports_Indonasia['Tcode'], Iran_Exports_Codes),1,0 )
Exports_Indonasia_Tarjihi=Exports_Indonasia[Exports_Indonasia['Tarjihi']==1]
Exports_Indonasia_Tarjihi


Imports_Indonasia['Tarjihi']=np.where(np.isin(Imports_Indonasia['Tcode'], Iran_Imports_Codes),1,0 )
Imports_Indonasia_Tarjihi=Imports_Indonasia[Imports_Indonasia['Tarjihi']==1]
Imports_Indonasia_Tarjihi
Imports_Indonasia_Tarjihi.to_excel(f"C:/TradeGroup/Reports/Iran-Indonasia-Imports_Tarjihi_{year}.xlsx")

C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_11504\472622591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Exports_Indonasia['Tarjihi']=np.where(np.isin(Exports_Indonasia['Tcode'], Iran_Exports_Codes),1,0 )
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_11504\472622591.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Imports_Indonasia['Tarjihi']=np.where(np.isin(Imports_Indonasia['Tcode'], Iran_Imports_Codes),1,0 )

In [14]:
My_Excel_File=pd.ExcelFile(f"C:/TradeGroup/Reports/Iran-Indonasia-Alef.xlsx")
dfs = []
for sheet_name in My_Excel_File.sheet_names:
    df= My_Excel_File.parse(sheet_name)
    dfs.append(df)

The_Commodities = pd.concat(dfs,ignore_index=True)
The_Commodities.rename(columns={'شماره تعرفه':"HS8"},inplace=True)
The_Commodities['HS8']=pd.to_numeric(The_Commodities['HS8'])
Iran_Imports_Codes = pd.unique(The_Commodities['HS8'])
Iran_Imports_Codes

array([ 3011100.,  3011900.,  3019920.,  3034900.,  3035900.,  3063520.,
        3063620.,  7131090.,  7133190.,  8011100.,  8011200.,  8031000.,
        8043000.,  9011190.,  9022010.,  9022090.,  9024090., 10051000.,
       11043010., 11063000., 12030000., 12093000., 12129990., 13019040.,
       13019090., 13023100., 14049020., 14049030., 15111000., 15119010.,
       15119020., 15131100., 15131990., 15132913., 15132919., 15159090.,
       15162010., 15180000., 15200000., 17029090., 17031000., 18040000.,
       18050090., 18061000., 19019090., 20094910., 21011200., 21061090.,
       21069030., 21069080., 21069090., 22029910., 23099040., 24039100.,
       25070010., 25309010., 25309090., 26020000., 26060000., 26151090.,
       27012000., 27101940., 28042990., 28112200., 28182000., 28201000.,
       29054410., 29095000., 29151100., 29161100., 29161200., 29161500.,
       29224100., 30024100., 30042012., 30043212., 30046000., 30049014.,
       30049092., 30066000., 30069310., 30069390., 33012990., 33019090.,
       33021090., 33029010., 34012030., 35040000., 35079000., 38061000.,
       38063000., 38069000., 38123930., 38231100., 38231200., 38231900.,
       38237020., 38237090., 38246000., 39076910., 40011000., 40012200.,
       40012900., 40027000., 40112010., 44034100., 44092200., 44092900.,
       44130000., 44170000., 44191190., 44199090., 44201110., 44201190.,
       47032900., 48025500., 48025700., 48025800., 48026100., 48026900.,
       48041100., 48041900., 48042100., 48042900., 48043110., 48045900.,
       48053000., 48062000., 48063000., 48064000., 48099090., 48101300.,
       48101400., 48101900., 48102900., 48172000., 48189010., 52030000.,
       54022000., 54023300., 54024600., 54024700., 54026200., 56012200.,
       58109200., 59032000., 61034900., 61043900., 61059000., 61069000.,
       61159900., 63079090., 64041900., 72021100., 72023000., 72026000.,
       72029300., 72091810., 72105000., 72193200., 72193300., 72193400.,
       72193500., 72199000., 72251100., 72251900., 72283090., 73121010.,
       80011000., 82071900., 84073290., 84099110., 84119990., 84122100.,
       84143019., 84189990., 84193900., 84195090., 84196000., 84212990.,
       84213990., 84223000.,       nan, 84224000., 84229010., 84229090.,
       84248910., 84261200., 84342000., 84381000., 84518000., 84571000.,
       84713020., 84718010., 84732900., 84749010., 84771000., 84804100.,
       84804900., 84806000., 84807100., 84807900., 84813000., 84818065.,
       84818090., 84819090., 84821000., 84828000., 84831030., 84835000.,
       84836000., 85021390., 85044090., 85051100., 85061010., 85068010.,
       85122030., 85249100., 85353090., 85389010., 85414100., 85415100.,
       85416000., 85423100., 87087031., 87088019., 87088041., 87088049.,
       87141025., 90183910., 90189080., 90191010., 90289010., 92099100.,
       92099200., 94039100., 95030090., 96072000., 96081020., 96089100.])

In [16]:
Exports_Indonasia_be = Exports_Indonasia
Exports_Indonasia_be['Tarjihi']=np.where(np.isin(Exports_Indonasia_be['Tcode'], Iran_Imports_Codes),1,0 )
Exports_Indonasia_Trajihi_be=Exports_Indonasia_be[Exports_Indonasia_be['Tarjihi']==1]
Exports_Indonasia_Trajihi_be

C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_11504\3419878246.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Exports_Indonasia_be['Tarjihi']=np.where(np.isin(Exports_Indonasia_be['Tcode'], Iran_Imports_Codes),1,0 )

,Year,Month,Custom,Country,Tcode,Tdesc,Weight,Rials,Dollars,Tarjihi
82351,1401,3.0,منطقه آزاد تجاري چابهار,اندونزي,12129990.0,ساير,25000,20254575000,80887,1
85609,1401,4.0,فرودگاه امام خميني (ره),اندونزي,84119990.0,ساير اجزاء و قطعات توربوجت ها يا توربوپراپلرها...,320,4715783956,18457,1