In [1]:
import pandas as pd
import numpy as np
import os


os.chdir("C:\TradeGroup")
my_wd = os.getcwd()
new_directory = my_wd

In [2]:
i=0
year = 1397
Export_Series = pd.DataFrame()
for year in range(1390,1402):
    Export = pd.read_excel(f"{my_wd}/Data/Cleaned_Data/Y{year}Exports.xlsx")
    Export['HS4'] = Export['Tcode']//10000

    Export_Meat = Export[Export['HS4']==104]

    Export_Meat_Country = Export_Meat[(Export_Meat['Country']=="عمان") |(Export_Meat['Country']=="قطر")|(Export_Meat['Country']=="كويت")]
    i=i+1
    Export_Data = pd.DataFrame({"Year": year, "Tons": Export_Meat_Country['Weight'].sum()/1000, "MDollars": Export_Meat_Country['Dollars'].sum()/1000000}, index=[i])
    Export_Series = pd.concat([Export_Series,Export_Data])

In [3]:
Export_Series.to_excel(f'C:/TradeGroup/Reports/Meat_Exports_Tons_Mirror_new.xlsx')

In [20]:
Export_Series

   Year      Tons   MDollars
1  1396   692.500   3.291250
2  1397  5350.445  26.687977
3  1398   156.000   0.352108
4  1399     0.000   0.000000
5  1400   297.410   0.831646
6  1401  2752.772   8.098768

In [17]:
year = 1401
Export = pd.read_excel(f"{my_wd}/Data/Cleaned_Data/Y{year}Exports.xlsx")
Export['HS4'] = Export['Tcode']//10000

Export_Meat = Export[Export['HS4']==104]

Export_Meat_Country = Export_Meat[(Export_Meat['Country']=="عمان") |(Export_Meat['Country']=="قطر")|(Export_Meat['Country']=="كويت")]
i=i+1
#Export_Data = pd.DataFrame({"Year": year, "Tons": Export_Meat_Country['Weight'].sum()/1000}, index=[i])
#Export_Series = pd.concat([Export_Series,Export_Data])

In [27]:
Export_Meat_Country['Price'] = Export_Meat_Country['Dollars']/ Export_Meat_Country['Weight']

Export_Meat_Country['Weight'].sum()

C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_1936\2790818104.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Export_Meat_Country['Price'] = Export_Meat_Country['Dollars']/ Export_Meat_Country['Weight']

2752772