In [110]:
import pandas as pd
import numpy as np

In [96]:
My_Excel_File=pd.ExcelFile(f"C:/TradeGroup/Reports/Iran-Indonasia-Alef.xlsx")
dfs = []
for sheet_name in My_Excel_File.sheet_names:
    df= My_Excel_File.parse(sheet_name)
    dfs.append(df)

In [123]:
The_Commodities = pd.concat(dfs,ignore_index=True)
The_Commodities.rename(columns={'شماره تعرفه':"HS8"},inplace=True)
The_Commodities['HS8']=pd.to_numeric(The_Commodities['HS8'])
Iran_Imports_Codes = pd.unique(The_Commodities['HS8'])
Iran_Imports_Codes

array([ 3011100.,  3011900.,  3019920.,  3034900.,  3035900.,  3063520.,
        3063620.,  7131090.,  7133190.,  8011100.,  8011200.,  8031000.,
        8043000.,  9011190.,  9022010.,  9022090.,  9024090., 10051000.,
       11043010., 11063000., 12030000., 12093000., 12129990., 13019040.,
       13019090., 13023100., 14049020., 14049030., 15111000., 15119010.,
       15119020., 15131100., 15131990., 15132913., 15132919., 15159090.,
       15162010., 15180000., 15200000., 17029090., 17031000., 18040000.,
       18050090., 18061000., 19019090., 20094910., 21011200., 21061090.,
       21069030., 21069080., 21069090., 22029910., 23099040., 24039100.,
       25070010., 25309010., 25309090., 26020000., 26060000., 26151090.,
       27012000., 27101940., 28042990., 28112200., 28182000., 28201000.,
       29054410., 29095000., 29151100., 29161100., 29161200., 29161500.,
       29224100., 30024100., 30042012., 30043212., 30046000., 30049014.,
       30049092., 30066000., 30069310., 30069390., 33012990., 33019090.,
       33021090., 33029010., 34012030., 35040000., 35079000., 38061000.,
       38063000., 38069000., 38123930., 38231100., 38231200., 38231900.,
       38237020., 38237090., 38246000., 39076910., 40011000., 40012200.,
       40012900., 40027000., 40112010., 44034100., 44092200., 44092900.,
       44130000., 44170000., 44191190., 44199090., 44201110., 44201190.,
       47032900., 48025500., 48025700., 48025800., 48026100., 48026900.,
       48041100., 48041900., 48042100., 48042900., 48043110., 48045900.,
       48053000., 48062000., 48063000., 48064000., 48099090., 48101300.,
       48101400., 48101900., 48102900., 48172000., 48189010., 52030000.,
       54022000., 54023300., 54024600., 54024700., 54026200., 56012200.,
       58109200., 59032000., 61034900., 61043900., 61059000., 61069000.,
       61159900., 63079090., 64041900., 72021100., 72023000., 72026000.,
       72029300., 72091810., 72105000., 72193200., 72193300., 72193400.,
       72193500., 72199000., 72251100., 72251900., 72283090., 73121010.,
       80011000., 82071900., 84073290., 84099110., 84119990., 84122100.,
       84143019., 84189990., 84193900., 84195090., 84196000., 84212990.,
       84213990., 84223000.,       nan, 84224000., 84229010., 84229090.,
       84248910., 84261200., 84342000., 84381000., 84518000., 84571000.,
       84713020., 84718010., 84732900., 84749010., 84771000., 84804100.,
       84804900., 84806000., 84807100., 84807900., 84813000., 84818065.,
       84818090., 84819090., 84821000., 84828000., 84831030., 84835000.,
       84836000., 85021390., 85044090., 85051100., 85061010., 85068010.,
       85122030., 85249100., 85353090., 85389010., 85414100., 85415100.,
       85416000., 85423100., 87087031., 87088019., 87088041., 87088049.,
       87141025., 90183910., 90189080., 90191010., 90289010., 92099100.,
       92099200., 94039100., 95030090., 96072000., 96081020., 96089100.])

In [124]:
Iran_to_Indonasia=pd.read_excel(f"C:/TradeGroup/Reports/Iran-Indonasia-Be.xlsx")
Iran_to_Indonasia['شماره تعرفه'].fillna(0,inplace=True)
Iran_to_Indonasia['HS8']=Iran_to_Indonasia['شماره تعرفه'].astype(int)
Iran_Exports_Codes = pd.unique(Iran_to_Indonasia['HS8'])
Iran_Exports_Codes

array([ 3021100,  3031400,  4015010,  4039090,  4049000,  4069000,
        4090000,  6029090,  7094000,  7095100,        0,  7129010,
        7129090,  8023200,  8041000,  8052100,  8061000,  8081000,
        8092900,  8093000,  8105000,  8111000, 11081100, 11090000,
       12119099, 13021200, 17041000, 17049010, 17049020, 20029010,
       20055100, 20060000, 20089990, 20093900, 20096900, 21021000,
       21032000, 21050000, 21069072, 25201000, 27075000, 27079990,
       27101950, 27111200, 27111300, 27121000, 27132000, 27150090,
       28170020, 28281000, 28289090, 28301000, 29094900, 29153990,
       29214100, 29221500, 29336100, 29391110, 30024200, 30031010,
       30031090, 30041019, 30042091, 30043290, 30043900, 30044911,
       30044919, 30045021, 30049010, 30049051, 30049065, 30049072,
       30049091, 30049098, 30049099, 30051010, 30051090, 30059010,
       30059020, 30064020, 30069100, 32041290, 32041790, 32061910,
       32061990, 34039990, 34070020, 38089130, 38089140, 38089150,
       38210010, 38210090, 38249910, 38249930, 38249940, 38249970,
       39073020, 39073030, 39073090, 39162010, 39162020, 39191010,
       39191020, 39191099, 48030030, 48030090, 48051100, 48051910,
       48051990, 48052510, 48052590, 48181000, 48182000, 48185000,
       48191000, 68029310, 68029390, 69072193, 70071110, 70071910,
       70071990, 70133700, 72139110, 72179090, 73066110, 73142000,
       76061110, 76061190, 76061232, 76061239, 76061290, 76069200,
       76109099, 76129090, 84069000, 84099921, 84099975, 84118200,
       84136090, 84137019, 84138119, 84224000, 84229010, 84229090,
       84313110, 84313120, 84749000, 84819090, 85071092, 85071095,
       85071096, 85071097, 85071098, 85071099, 85072094, 85072095,
       85072096, 85072097, 85072098, 85072099, 85144000, 85362020,
       85365020, 85365095, 85365099, 85369019, 85371020, 85371030,
       85371091, 85441130, 85441140, 85442011, 85442019, 85442031,
       85442039, 85443012, 85443013, 85443014, 85443019, 85443091,
       85443099, 86090010, 87079030, 87081010, 87081090, 87082920,
       87082999, 87083021, 87083029, 87087019, 87087021, 87087029,
       87087031, 87087039, 87088019, 87089921, 87112011, 87112019,
       87141010, 87141030, 87141050, 87141060, 87141090, 90118000,
       90191010, 90191090, 90211010, 90211090, 90212100, 90212910,
       90212920, 90212990, 90213100, 90223000, 90229010, 90301000,
       94015900, 94016100, 94021010, 94021030, 94033000, 94034000,
       94036090, 94051110, 94051910, 94052110, 94052910, 94059110])

In [108]:
baseyear=1398
for year in range(1398,1403):
      Imports = pd.read_excel(f'C:/TradeGroup/Data/Cleaned_Data/Y{year}Imports.xlsx')
      Exports = pd.read_excel(f'C:/TradeGroup/Data/Cleaned_Data/Y{year}Exports.xlsx')

      Exports_Tarefe=Exports[Exports['Tcode'].isin(Iran_Exports_Codes)]
      Imports_Tarefe=Imports[Imports['Tcode'].isin(Iran_Imports_Codes)]
      
      Exports_new 
      Imports_Tarefe=Imports

      

      Exports_Tot=Exports_Tarefe.groupby('Tcode').agg(
            Dollars_Tot=('Dollars','sum'),
            Tdesc = ('Tdesc','first')
         #   Tcode= ('Tcode','first')
      ).reset_index()
      Exports_Indo=Exports_Tarefe[Exports_Tarefe['Country']=="اندونزي"].groupby('Tcode').agg(
            Dollars_Idn=('Dollars','sum'),
            Tdesc = ('Tdesc','first')
         #   Tcode= ('Tcode','first')
      ).reset_index()



      Imports_Tot=Imports_Tarefe.groupby('Tcode').agg(
            Dollars_Tot=('Dollars','sum'),
            Tdesc = ('Tdesc','first')
       #     Tcode= ('Tcode','first')
      ).reset_index()
      Imports_Indo=Imports_Tarefe[Imports_Tarefe['Country']=="اندونزي"].groupby('Tcode').agg(
            Dollars_Idn=('Dollars','sum'),
            Tdesc = ('Tdesc','first')
        #    Tcode= ('Tcode','first')
      ).reset_index()

      Imports_IrnIdn=Imports_Tot.merge(Imports_Indo,on=['Tcode','Tdesc'],how='outer').fillna(0)          
      Exports_IrnIdn=Exports_Tot.merge(Exports_Indo,on=['Tcode','Tdesc'],how='outer').fillna(0) 

      Imports_IrnIdn['IdntoTot']=Imports_IrnIdn['Dollars_Idn']/Imports_IrnIdn['Dollars_Tot']
      Exports_IrnIdn['IdntoTot']=Exports_IrnIdn['Dollars_Idn']/Exports_IrnIdn['Dollars_Tot']


      Imports_IrnIdn.rename(columns={'Dollars_Tot':f'Dollars_Tot_{year}', 'Dollars_Idn':f'Dollars_Idn_{year}','IdntoTot':f'IdntoTot_{year}'},inplace=True)          
      Exports_IrnIdn.rename(columns={'Dollars_Tot':f'Dollars_Tot_{year}', 'Dollars_Idn':f'Dollars_Idn_{year}','IdntoTot':f'IdntoTot_{year}'},inplace=True)


      if year==baseyear:
            Imports_IrnIdn_Series =Imports_IrnIdn
            Exports_IrnIdn_Series = Exports_IrnIdn
      else:
           Exports_IrnIdn_Series=Exports_IrnIdn_Series.merge(Exports_IrnIdn,on=['Tcode','Tdesc'],how='outer')       
           Imports_IrnIdn_Series=Imports_IrnIdn_Series.merge(Imports_IrnIdn,on=['Tcode','Tdesc'],how='outer')

In [109]:
Exports_IrnIdn_Series.to_excel(f"C:/TradeGroup/Reports/Iran-Indonasia-Exports_version1.xlsx",index=False)
Imports_IrnIdn_Series.to_excel(f"C:/TradeGroup/Reports/Iran-Indonasia-Imports_version1.xlsx",index=False)

In [91]:
a=pd.DataFrame(pd.unique(Exports['Tcode']))
a.to_excel(f"C:/TradeGroup/Reports/IranCheck1.xlsx",index=False)

In [157]:
baseyear=1398
for year in range(1398,1403):
      Imports = pd.read_excel(f'C:/TradeGroup/Data/Cleaned_Data/Y{year}Imports.xlsx')
      Exports = pd.read_excel(f'C:/TradeGroup/Data/Cleaned_Data/Y{year}Exports.xlsx')
    
      Exports=Exports[pd.notna(Exports['Month'])]
      Exports_new=Exports

      Imports_new=Imports
      Imports=Imports[pd.notna(Imports['Month'])]

      Exports_new['Tarjihi']=np.where(Exports_new['Tcode'].isin(Iran_Exports_Codes),1,0)
      Imports_new['Tarjihi']=np.where(Imports_new['Tcode'].isin(Iran_Imports_Codes),1,0)

      Exports_Tot=Exports_new.groupby('Tcode').agg(
                  Tdesc = ('Tdesc','first'),
                  Tarjihi =('Tarjihi','first'),
                  Dollars_Tot=('Dollars','sum'),    
            #   Tcode= ('Tcode','first')
            ).reset_index()
      Exports_Indo=Exports_new[Exports_new['Country']=="اندونزي"].groupby('Tcode').agg(
                  Tdesc = ('Tdesc','first'),
                  Tarjihi =('Tarjihi','first'),
                  Dollars_Idn=('Dollars','sum') 
            #   Tcode= ('Tcode','first')
            ).reset_index()



      Imports_Tot=Imports_new.groupby('Tcode').agg(
                  Tdesc = ('Tdesc','first'),
                  
                  Tarjihi =('Tarjihi','first'),
                  Dollars_Tot=('Dollars','sum')
            #     Tcode= ('Tcode','first')
            ).reset_index()
      Imports_Indo=Imports_new[Imports_new['Country']=="اندونزي"].groupby('Tcode').agg(
                  Tdesc = ('Tdesc','first'),
                  Tarjihi =('Tarjihi','first'),
                  Dollars_Idn=('Dollars','sum')
            #    Tcode= ('Tcode','first')
            ).reset_index()


      Imports_IrnIdn=Imports_Tot.merge(Imports_Indo,on=['Tcode','Tdesc','Tarjihi'],how='outer').fillna(0)          
      Exports_IrnIdn=Exports_Tot.merge(Exports_Indo,on=['Tcode','Tdesc','Tarjihi'],how='outer').fillna(0) 

      Imports_IrnIdn['IdntoTot']=Imports_IrnIdn['Dollars_Idn']/Imports_IrnIdn['Dollars_Tot']
      Exports_IrnIdn['IdntoTot']=Exports_IrnIdn['Dollars_Idn']/Exports_IrnIdn['Dollars_Tot']

      Ex_Total_Trade=sum(Exports_new['Dollars'])
      Ex_Indonasia_Trade=sum(Exports[Exports['Country']=="اندونزي"]['Dollars'])
      Ex_Total_Trajihi=sum(Exports_new[Exports_new['Tarjihi']==1]['Dollars'])
      Ex_Indo_Trajihi=sum(Exports_new[(Exports_new['Tarjihi']==1)&(Exports['Country']=="اندونزي")]['Dollars'])

      Exports_IrnIdn['Total_Trade']=Ex_Total_Trade
      Exports_IrnIdn['Indonasia_Trade']=Ex_Indonasia_Trade
      Exports_IrnIdn['Total_Trajihi']=Ex_Total_Trajihi
      Exports_IrnIdn['Indo_Trajihi']=Ex_Indo_Trajihi

      Exports_IrnIdn['IndtoTot']=Ex_Indonasia_Trade/Ex_Total_Trade
      Exports_IrnIdn['IndtoTot_Tarjihi']= Ex_Indo_Trajihi/Ex_Total_Trajihi
      Exports_IrnIdn['TarjihitoTot']= Ex_Total_Trajihi/Ex_Total_Trade
      Exports_IrnIdn['TarjihitoTot_Ind']= Ex_Indo_Trajihi/Ex_Indonasia_Trade




      Im_Total_Trade=sum(Imports_new['Dollars'])
      Im_Indonasia_Trade=sum(Imports[Imports['Country']=="اندونزي"]['Dollars'])
      Im_Total_Trajihi=sum(Imports_new[Imports_new['Tarjihi']==1]['Dollars'])
      Im_Indo_Trajihi=sum(Imports_new[(Imports_new['Tarjihi']==1)&(Imports['Country']=="اندونزي")]['Dollars'])





      Imports_IrnIdn['Total_Trade']=Im_Total_Trade
      Imports_IrnIdn['Indonasia_Trade']=Im_Indonasia_Trade
      Imports_IrnIdn['Total_Trajihi']=Im_Total_Trajihi
      Imports_IrnIdn['Indo_Trajihi']=Im_Indo_Trajihi

      Imports_IrnIdn['IndtoTot']=Im_Indonasia_Trade/Im_Total_Trade
      Imports_IrnIdn['IndtoTot_Tarjihi']= Im_Indo_Trajihi/Im_Total_Trajihi
      Imports_IrnIdn['TarjihitoTot']= Im_Total_Trajihi/Im_Total_Trade
      Imports_IrnIdn['TarjihitoTot_Ind']= Im_Indo_Trajihi/Im_Indonasia_Trade

      Exports_IrnIdn = Exports_IrnIdn.rename(columns={c: c+f'_{year}' for c in Exports_IrnIdn.columns if c not in ['Tcode', 'Tdesc','Tarjihi']})
      Imports_IrnIdn = Imports_IrnIdn.rename(columns={c: c+f'_{year}' for c in Imports_IrnIdn.columns if c not in ['Tcode', 'Tdesc','Tarjihi']})

      if year==baseyear:
           Exports_IrnIdn_Series=Exports_IrnIdn
           Imports_IrnIdn_Series= Imports_IrnIdn
      else:
           Exports_IrnIdn_Series=Exports_IrnIdn_Series.merge(Exports_IrnIdn,on=['Tcode','Tdesc','Tarjihi'],how="outer")       
           Imports_IrnIdn_Series=Imports_IrnIdn_Series.merge(Exports_IrnIdn,on=['Tcode','Tdesc','Tarjihi'],how="outer")

In [158]:
Exports_IrnIdn_Series.to_excel(f"C:/TradeGroup/Reports/Iran-Indonasia-Exports_Yearly.xlsx",index=False)
Imports_IrnIdn_Series.to_excel(f"C:/TradeGroup/Reports/Iran-Indonasia-Imports_Yearly.xlsx",index=False)