In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
Nerkh_Tarefe_1402 = pd.read_excel('C:/TradeGroup/Reports/3 ماه اول/Nerkh_Tarefe.xlsx',sheet_name="1402.08")

Nerkh_Tarefe_1401 = pd.read_excel('C:/TradeGroup/Reports/3 ماه اول/Nerkh_Tarefe.xlsx',sheet_name="1401")

Nerkh_Tarefe_1400 = pd.read_excel('C:/TradeGroup/Reports/3 ماه اول/Nerkh_Tarefe.xlsx',sheet_name="1400")

Nerkh_Tarefe_1399 = pd.read_excel('C:/TradeGroup/Reports/3 ماه اول/Nerkh_Tarefe.xlsx',sheet_name="1399")

Nerkh_Tarefe_1398 = pd.read_excel('C:/TradeGroup/Reports/3 ماه اول/Nerkh_Tarefe.xlsx',sheet_name="1398")

Nerkh_Tarefe_1397 = pd.read_excel('C:/TradeGroup/Reports/3 ماه اول/Nerkh_Tarefe.xlsx',sheet_name="1397")


Nerkh_Tarefe_1397

,کدتعرفه,وزن خالص,ارزش ریالی ردیف کالا,ارزش دلاری ردیف کالا,حقوق ورودی 041 (ریال),سایر 042 (ریال),043(ریال),تخفیف عوارض 044 (ریال),تخفیف مالیات 045 (ریال),جریمه 046 (ریال),مالیات 047 (ریال),عوارض 048 (ریال),تخفیف حقوق ورودی 049 (ریال),Hsum,Hperc
0,01012100,9.700000e+03,3.930522e+10,9.358385e+05,2051337937,23426000,0,1292342899,2584685800,53819593,2584685800,1292342899,0,2074763937,5.278597
1,01012910,6.650000e+03,1.936397e+10,5.240000e+05,5449649132,56003000,0,792295143,1584590286,0,1584590286,792295143,0,5505652132,28.432455
2,01022110,4.447020e+05,1.201290e+11,2.850745e+06,6014559993,59527880,0,3789172796,7578345591,0,7578345591,3789172796,0,6074087873,5.056304
3,01022120,1.071303e+06,7.649559e+10,1.904264e+06,3843075616,38425553,0,2421137638,4842275274,1000000,4842275274,2421137638,0,3881501169,5.074150
4,01022140,1.646500e+03,3.313800e+09,7.890000e+04,165772000,1658000,0,93984660,187969320,0,208872720,104436360,0,167430000,5.052508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5516,98871191,5.295200e+04,1.175921e+10,2.795906e+05,1782518520,21333452,0,0,0,1000000,819958519,409979260,0,1803851972,15.339910
5517,98871192,1.300333e+04,2.969577e+09,7.070421e+04,297115373,2971155,0,0,0,0,196096146,98048074,0,300086528,10.105364
5518,98871195,7.631172e+05,3.350476e+11,8.067844e+06,16800226920,164531491,0,0,0,107327425,21035953625,10517976813,2205538093,14759220318,4.405112
5519,98871196,9.685100e+04,1.634040e+10,3.890571e+05,817550861,8992788,0,0,0,0,1030114085,515057042,0,826543649,5.058283
5520,جمع کل,3.240336e+10,1.804067e+15,4.341103e+10,229598547147862,6464830886814,0,27334722682479,54689310782700,928033350222,121643073130417,60795258438640,45286595386694,190776782647982,10.574818

In [5]:
new_column_names = ['Tcode', 'Weight', 'Value_R','Value_D','HV_041_R','Other_042_R',
                    'NN_043_R','TA_044_R','TM_045_R','J_046_R','M_047_R','A_048_R',
                    'THV_049_R','HSum_R','HPerc_R']

Nerkh_Tarefe_1397 = Nerkh_Tarefe_1397.rename(columns=dict(zip(Nerkh_Tarefe_1397.columns, new_column_names)))

Nerkh_Tarefe_1398 = Nerkh_Tarefe_1398.rename(columns=dict(zip(Nerkh_Tarefe_1398.columns, new_column_names)))

Nerkh_Tarefe_1399 = Nerkh_Tarefe_1399.rename(columns=dict(zip(Nerkh_Tarefe_1399.columns, new_column_names)))

Nerkh_Tarefe_1400 = Nerkh_Tarefe_1400.rename(columns=dict(zip(Nerkh_Tarefe_1400.columns, new_column_names)))

Nerkh_Tarefe_1401 = Nerkh_Tarefe_1401.rename(columns=dict(zip(Nerkh_Tarefe_1401.columns, new_column_names)))

Nerkh_Tarefe_1402 = Nerkh_Tarefe_1402.rename(columns=dict(zip(Nerkh_Tarefe_1402.columns, new_column_names)))



Nerkh_Tarefe_1397

,Tcode,Weight,Value_R,Value_D,HV_041_R,Other_042_R,NN_043_R,TA_044_R,TM_045_R,J_046_R,M_047_R,A_048_R,THV_049_R,HSum_R,HPerc_R
0,01012100,9.700000e+03,3.930522e+10,9.358385e+05,2051337937,23426000,0,1292342899,2584685800,53819593,2584685800,1292342899,0,2074763937,5.278597
1,01012910,6.650000e+03,1.936397e+10,5.240000e+05,5449649132,56003000,0,792295143,1584590286,0,1584590286,792295143,0,5505652132,28.432455
2,01022110,4.447020e+05,1.201290e+11,2.850745e+06,6014559993,59527880,0,3789172796,7578345591,0,7578345591,3789172796,0,6074087873,5.056304
3,01022120,1.071303e+06,7.649559e+10,1.904264e+06,3843075616,38425553,0,2421137638,4842275274,1000000,4842275274,2421137638,0,3881501169,5.074150
4,01022140,1.646500e+03,3.313800e+09,7.890000e+04,165772000,1658000,0,93984660,187969320,0,208872720,104436360,0,167430000,5.052508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5516,98871191,5.295200e+04,1.175921e+10,2.795906e+05,1782518520,21333452,0,0,0,1000000,819958519,409979260,0,1803851972,15.339910
5517,98871192,1.300333e+04,2.969577e+09,7.070421e+04,297115373,2971155,0,0,0,0,196096146,98048074,0,300086528,10.105364
5518,98871195,7.631172e+05,3.350476e+11,8.067844e+06,16800226920,164531491,0,0,0,107327425,21035953625,10517976813,2205538093,14759220318,4.405112
5519,98871196,9.685100e+04,1.634040e+10,3.890571e+05,817550861,8992788,0,0,0,0,1030114085,515057042,0,826543649,5.058283
5520,جمع کل,3.240336e+10,1.804067e+15,4.341103e+10,229598547147862,6464830886814,0,27334722682479,54689310782700,928033350222,121643073130417,60795258438640,45286595386694,190776782647982,10.574818

In [11]:
mask1397 = Nerkh_Tarefe_1397['Tcode'] == 'جمع کل'

mask1398 = Nerkh_Tarefe_1398['Tcode'] == 'جمع کل'

mask1399 = Nerkh_Tarefe_1399['Tcode'] == 'جمع کل'

mask1400 = Nerkh_Tarefe_1400['Tcode'] == 'جمع کل'

mask1401 = Nerkh_Tarefe_1401['Tcode'] == 'جمع کل'

mask1402 = Nerkh_Tarefe_1402['Tcode'] == 'جمع کل'


filtered_1397 = Nerkh_Tarefe_1397[mask1397]

filtered_1398 = Nerkh_Tarefe_1398[mask1398]

filtered_1399 = Nerkh_Tarefe_1399[mask1399]

filtered_1400 = Nerkh_Tarefe_1400[mask1400]

filtered_1401 = Nerkh_Tarefe_1401[mask1401]

filtered_1402 = Nerkh_Tarefe_1402[mask1402]


filtered_1397['Year']=1397
filtered_1398['Year']=1398
filtered_1399['Year']=1399
filtered_1400['Year']=1400
filtered_1401['Year']=1401
filtered_1402['Year']=1402

C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_10652\3518051403.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_1397['Year']=1397
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_10652\3518051403.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_1398['Year']=1398
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_10652\3518051403.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_1399['Year']=1399
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_10652\3518051403.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_1400['Year']=1400
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_10652\3518051403.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_1401['Year']=1401
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_10652\3518051403.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_1402['Year']=1402

In [14]:
All_Totals = pd.concat([filtered_1397,filtered_1398,filtered_1399,filtered_1400,filtered_1401,filtered_1402])

All_Totals.to_excel('C:/TradeGroup/Reports/3 ماه اول/Tarefe_Total_All.xlsx', index=False)

In [17]:
mask1397_New = Nerkh_Tarefe_1397['Tcode'] != 'جمع کل'

mask1398_New = Nerkh_Tarefe_1398['Tcode'] != 'جمع کل'

mask1399_New = Nerkh_Tarefe_1399['Tcode'] != 'جمع کل'

mask1400_New = Nerkh_Tarefe_1400['Tcode'] != 'جمع کل'

mask1401_New = Nerkh_Tarefe_1401['Tcode'] != 'جمع کل'

mask1402_New = Nerkh_Tarefe_1402['Tcode'] != 'جمع کل'


filtered_1397_New = Nerkh_Tarefe_1397[mask1397_New]

filtered_1398_New = Nerkh_Tarefe_1398[mask1398_New]

filtered_1399_New = Nerkh_Tarefe_1399[mask1399_New]

filtered_1400_New = Nerkh_Tarefe_1400[mask1400_New]

filtered_1401_New = Nerkh_Tarefe_1401[mask1401_New]

filtered_1402_New = Nerkh_Tarefe_1402[mask1402_New]


filtered_1397_New['Year']=1397
filtered_1398_New['Year']=1398
filtered_1399_New['Year']=1399
filtered_1400_New['Year']=1400
filtered_1401_New['Year']=1401
filtered_1402_New['Year']=1402

C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_10652\4259795488.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_1397_New['Year']=1397
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_10652\4259795488.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_1398_New['Year']=1398
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_10652\4259795488.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_1399_New['Year']=1399
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_10652\4259795488.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_1400_New['Year']=1400
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_10652\4259795488.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_1401_New['Year']=1401
C:\Users\msbirjandi\AppData\Local\Temp\ipykernel_10652\4259795488.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_1402_New['Year']=1402

In [41]:
All_Totals_New = pd.concat([filtered_1397_New,filtered_1398_New,filtered_1399_New,filtered_1400_New,filtered_1401_New,filtered_1402_New])


conditions = [
    (All_Totals_New['HPerc_R'] == 0),             
    ((All_Totals_New['HPerc_R'] > 0) & (All_Totals_New['HPerc_R'] <= 5)),
    ((All_Totals_New['HPerc_R'] > 5) & (All_Totals_New['HPerc_R'] <= 10)),
    ((All_Totals_New['HPerc_R'] > 10) & (All_Totals_New['HPerc_R'] <= 20)),
    ((All_Totals_New['HPerc_R'] > 20) & (All_Totals_New['HPerc_R'] <= 50)),
    ((All_Totals_New['HPerc_R'] > 50) & (All_Totals_New['HPerc_R'] <= 100)),
    ((All_Totals_New['HPerc_R'] > 100))
]

choices = [
    'Zero',
    'from 0 to 5',
    'from 5 to 10',
    'from 10 to 20', 
    'from 20 to 50',   
    'from 50 to 100',
    'more than 100'
]

# Use np.select() to generate the new column 'B'
All_Totals_New['HPerc_Cat'] = np.select(conditions, choices, default='other')

In [42]:
All_Totals_New['HPerc_Cat'].unique()

array(['from 5 to 10', 'from 20 to 50', 'from 10 to 20', 'Zero',
       'from 0 to 5', 'from 50 to 100', 'more than 100'], dtype=object)

In [43]:
By_HPerc_Cat = All_Totals_New.groupby(['Year','HPerc_Cat']).agg(
    Value_R = ('Value_R','sum'),
    Value_D = ('Value_D','sum'),
    HSum_R = ('HSum_R','sum'),
    Codes_Count = ('Tcode','count')
    
    
).reset_index()

#By_HPerc_Cat['Sum_D_Year']=By_HPerc_Cat.groupby('Year').sum('Value_D')
By_HPerc_Cat['Sum_D_Year'] = By_HPerc_Cat.groupby('Year')['Value_D'].transform('sum')
By_HPerc_Cat['Sum_R_Year'] = By_HPerc_Cat.groupby('Year')['Value_R'].transform('sum')

By_HPerc_Cat['ShareValue_D_Year'] = By_HPerc_Cat['Value_D']/By_HPerc_Cat['Sum_D_Year']

By_HPerc_Cat['ShareValue_R_Year'] = By_HPerc_Cat['Value_R']/By_HPerc_Cat['Sum_R_Year']






By_HPerc_Cat['Sum_H_R_Year'] = By_HPerc_Cat.groupby('Year')['HSum_R'].transform('sum')


By_HPerc_Cat['Shared_H_R_Year'] = By_HPerc_Cat['HSum_R']/By_HPerc_Cat['Sum_H_R_Year']


By_HPerc_Cat['Sum_N_Year'] = By_HPerc_Cat.groupby('Year')['Codes_Count'].transform('sum')

By_HPerc_Cat['Share_of_Codes'] = By_HPerc_Cat['Codes_Count']/By_HPerc_Cat['Sum_N_Year']



By_HPerc_Cat


By_HPerc_Cat.to_excel('C:/TradeGroup/Reports/3 ماه اول/Tarefe_By_Cat.xlsx', index=False)