In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# Set the working directory
os.chdir("C:\TradeGroup")
my_wd = os.getcwd()
new_directory = my_wd

def create_folder(folder_path):
    if not os.path.exists(f'{new_directory}/{folder_path}'):
        os.makedirs(f'{new_directory}/{folder_path}')
    else:
        print(f'Already Exists')

create_folder('Data/Indices')

Already Exists

In [4]:
year = 1392
exports_file_path = f"{my_wd}/Data/Cleaned_Data/Y{year}Exports.xlsx"

Exports = pd.read_excel(exports_file_path)

In [6]:
Exports_agg_HS8 = Exports.groupby('Tcode').agg(
    Dollars = ("Dollars",'sum')
).reset_index()

Exports['HS6']=Exports['Tcode']//100
Exports_agg_HS6 = Exports.groupby('HS6').agg(
    Dollars = ("Dollars",'sum')
).reset_index()

In [10]:
Exports_agg_HS8['More_than_10'] = np.where(Exports_agg_HS8['Dollars']>10000,1,0)

Exports_agg_HS6['More_than_10'] = np.where(Exports_agg_HS6['Dollars']>10000,1,0)

In [12]:
Uniques_HS8 = Exports_agg_HS8.groupby('More_than_10').agg(
    Count = ("Tcode","count")
).reset_index()

Uniques_HS6 = Exports_agg_HS6.groupby('More_than_10').agg(
    Count = ("HS6","count")
).reset_index()

In [13]:
Uniques_HS6

   More_than_10  Count
0             0    527
1             1   2206

In [14]:
Uniques_HS8

   More_than_10  Count
0             0    735
1             1   2765